@model IEnumerable<Entity.Concrete.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int count = 0;
}

<h1>Ürün Listesi</h1>

<div class="container">
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
@*            <th>Kategori</th>
*@            <th>Fiyat</th>
            <th>Stok</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.ProductName</td>
@*                <td>@item.Category.CategoryName</td>*@
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td><a href="/Product/DeleteProduct/@item.Id" class="btn btn-danger">Sil</a></td>
                <td><a href="/Product/UpdateProduct/@item.Id" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Product/AddProduct/" class="btn btn-primary">Yeni Ürün Girişi</a>
</div>
